{% extends "base_template.html" %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center display-4">Несколько слов о нас</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 ">
                <img src="../static/img/man.jpg" height="300" width="300" class="ml-auto mr-auto d-block">
                <div class="w-100 mt-5">
                    <h3 class="text-center">Климкович Александр</h3>
                    <p class="text-size-up text-center">Co-founder in "НайдиТренера.ру", TechLead<br>VK: https://vk.com/nord_regen</p>
                </div>
            </div>
            <div class="col-lg-4">
                <img src="../static/img/woman.jpg" height="300" width="300" class="ml-auto mr-auto d-block">
                <div class="w-100 mt-5">
                    <h3 class="text-center">Сапко Анастасия</h3>
                    <p class="text-size-up text-center">CEO & Co-founder in "НайдиТренера.ру"<br>VK: https://vk.com/id22577157</p>
                </div>
            </div>
            <div class="col-lg-4">
                <img src="../static/img/man.jpg" height="300" width="300" class="ml-auto mr-auto d-block">
                <div class="w-100 mt-5">
                    <h3 class="text-center">Меркудинов Сергей</h3>
                    <p class="text-size-up text-center">CIO & Co-founder in "НайдиТренера.ру"<br>VK: https://vk.com/mca97</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}