<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% block title %} <title>НайдиТренера.ру - тест</title> {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid mt-5 d-flex justify-content-center align-self-center">
        <div class="row">
            <div class="col=sm-12 d-flex justify-content-center align-self-center">
                {% block content %}
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>