{% extends "base_template.html" %}
{% block content %}
    <table align="center">
        <tr> <td><h1> &nbsp </h1></tr>
        <tr>
            <td><h1>Цель сервиса:</h1>
                Создание сервиса, позволяющего на основе набора критериев подобрать тренера и получить его контакты.
            </td>
        </tr>
        <tr>
            <td><h1>Авторы:</h1>
                Авторы: Меркудинов Сергей, Сапко Анастасия, Климкович Александр
            </td>
        </tr>
    </table>
{% endblock %}
